<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limaila.emp.mapper.EmpMapper">
    
    <select id="seleltByDid" resultType="com.limaila.emp.entity.Emp" parameterType="java.lang.Integer">
        select * from  emp where did = #{did}
    </select>

    <select id="getEmpDept" resultMap="baseMap" parameterType="java.lang.Integer">
        select * from emp where emp_no = #{empNo}
    </select>

    <select id="selectWhere" resultType="com.limaila.emp.entity.Emp" parameterType="com.limaila.emp.entity.Emp">
        select * from emp
        <where>
            <if test="empNo != null">
                and emp_no = #{empNo}
            </if>
            <if test="empSex != null">
                and emp_sex = #{empSex}
            </if>
            <if test="empAge != null">
                and emp_age = #{empAge}
            </if>
            <if test="empName != null and empName != &quot;&quot;">
                and emp_name like #{empName}
            </if>
        </where>
    </select>
    
    <select id="selectChoose" resultType="com.limaila.emp.entity.Emp" parameterType="com.limaila.emp.entity.Emp">
        select * from emp
        <where>
            <choose>
              <when test="empNo != null">
                  emp_no = #{empNo}
              </when>
              <when test="empName != null">
                  emp_name = #{empName}
              </when>
              <when test="empAge != null">
                  emp_age = #{empAge}
              </when>
              <when test="empSex != null">
                  emp_sex = #{empSex}
              </when>
              <otherwise>
                  1 = 1
              </otherwise>
            </choose>
        </where>
    </select>

    <update id="updateSet" parameterType="com.limaila.emp.entity.Emp">
        update emp
        <set>
            <if test="empName != null">
                emp_name = #{empName},
            </if>
            <if test="empSex != null">
                emp_sex = #{empSex},
            </if>
            <if test="empAge != null">
                emp_age = #{empAge},
            </if>
        </set>
        where emp_no = #{empNo}
    </update>

    <resultMap id="baseMap" type="com.limaila.emp.entity.Emp">
        <id property="empNo" column="emp_no"/>
        <result property="empName" column="emp_name"/>
        <result property="empSex" column="emp_sex"/>
        <result property="empAge" column="emp_age"/>
        <result property="did" column="did"/>
        <association property="dept"
                     select="com.limaila.dept.mapper.DeptMapper.getOneDept"
                     column="did"
        />
    </resultMap>
</mapper>