<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limaila.product.mapper.ProductSkuGroupMapper">

    <resultMap id="baseMap" type="com.limaila.product.entity.ProductSkuGroup">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
    </resultMap>

    <select id="getProductGroup" resultMap="baseMap">
        select * from product_sku_group
        where id = #{id}
    </select>
</mapper>